.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item span {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.item {
    background-color: rgb(228, 116, 227);
    padding: 20px 20px;
    color: rgb(44, 62, 80,1.0);
    margin: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
    /*flex-grow: 1;*/
}